<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tick-tack-toe</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body data-bs-theme="dark">
    <div class="container">
        <header>
            <h1>Tick-tack-toe - with socket.io</h1>
        </header>
        <main>