<%- include('header') %>
<div class="tictactoe-page">

  <!--Room code-->
  <h2 class="roomcode mb-3">Lobby kód</h2>
 
  <!-- Left player -->
  <div class="side-player left">
    <div class="player-card x">
      <span class="label">Játékos X</span>
      <span class="name">Alice</span>
      <hr>
      <span class="name">Győzelmek: <span id="xWins">0</span></span>
    </div>
  </div>

  <!-- Center board -->
  <div class="tictactoe-board" id="board">
    <% for(let i = 0; i < 9; i++) { %>
      <div class="cell" data-index="<%= i %>"></div>
    <% } %>
  </div>

  <h2 class="roomcode mb-3 mt-3" id="turnText">Rajtad a sor: X</h2>
    <div class="bottomButtons mt-3">
        <form action="/" method="get">
          <button class="btn-leave">← Kilépés</button>
      </form>
      <button class="btn-ready">Új játék 2/<span id="playerReady">0</span></button>
    </div>
  </div>

  <!-- Right player -->
  <div class="side-player right">
    <div class="player-card o">
      <span class="label">Játékos O</span>
      <span class="name">Bob</span>
      <hr>
      <span class="name">Győzelmek: <span id="oWins">0</span></span>
    </div>
  </div>
 
  <%- include('footer') %>
</div>
