<%- include('header') %>

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="name" placeholder="">
  <label for="name">Név</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="lobby" placeholder="">
  <label for="lobby">Lobby kód</label>
</div>

<%- include('footer') %>