<%- include('header') %>
<div class="tictactoe-page">

  <!--Room code-->
  <h2 class="roomcode mb-3">roomcode</h2>
 
  <!-- Left player -->
  <div class="side-player left">
    <div class="player-card x">
      <span class="label">Player X</span>
      <span class="name">Alice</span>
      <hr>
      <span class="name">Wins: <span id="xWins">0</span></span>
    </div>
  </div>

  <!-- Center board -->
  <div class="tictactoe-board" id="board">
    <% for(let i = 0; i < 9; i++) { %>
      <div class="cell" data-index="<%= i %>"></div>
    <% } %>
  </div>

  <h2 class="roomcode mb-3" id="turnText">Your turn: X</h2>
    <form action="/" method="get">
        <button class="btn-back">← Leave</button>
    </form>
    
  </div>

  <!-- Right player -->
  <div class="side-player right">
    <div class="player-card o">
      <span class="label">Player O</span>
      <span class="name">Bob</span>
      <hr>
      <span class="name">Wins: <span id="oWins">0</span></span>
    </div>
  </div>
  <%- include('footer') %>
</div>
