<% if(matchOver){ %>
<div class="app-card-message" style="flex-direction: column; gap: 1.5rem; text-align: center; padding: 3rem;">
  
  <div class="message-box" style="background-color: #2f313a; padding: 2rem; border-radius: 16px; box-shadow: 0 20px 40px rgba(0,0,0,0.35);">
    <h2 style="font-size: 2rem; margin-bottom: 1rem; color: #fff;">
      <%= message %>
    </h2>
    <% if (winner) { %>
      <p style="font-weight: 700; font-size: 1.2rem;" class=<%= winner == 'X' ? 'winnerX' : '.winnerO' %>>
        Winner: Player <%= winner %>
     </p>
    <% }else{ %>
     <p style="font-weight: 700; font-size: 1.2rem;">
        Tie
     </p>

    <%} %>
  <% if (details) { %>
    <p style="color: #bbb; font-size: 0.9rem;"><%= details %></p>
  <% } %>

</div>
<% } %>